body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
  margin-left: 80px;
  margin-right: 80px;
}

img{
	margin-bottom:25px;
}

p{
	text-align:left;
}

.lead{
	text-align:center;
}

a:link {
    color: #2e3192;
}

/* visited link */
a:visited {
    color: #2e3192;
}

/* mouse over link */
a:hover {
    color: #a58b00;
}

/* selected link */
a:active {
    color: #2e3192;
}